.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px; /* Size of the checkbox */
  height: 24px; /* Size of the checkbox */
  border-radius: 50%; /* Makes it circular */
  border: 2px solid #ccc; /* Grey border when not selected */
}

.custom-checkbox input {
  opacity: 0; /* Hide the default checkbox */
}

.checkbox-indicator {
  position: absolute;
  width: 16px; /* Inner size of the checkbox */
  height: 16px; /* Inner size of the checkbox */
  border-radius: 50%; /* Makes it circular */
  border: 2px solid transparent; /* Transparent border for non-selected state */
  background-color: transparent; /* Transparent background for non-selected state */
}

.custom-checkbox input:checked + .checkbox-indicator {
  background-color: green; /* green background when selected */
  border: 2px solid green; /* green border when selected */
}
